body{
    background-color:rgb(0, 0, 0);
}
header{
    display:flex;
    flex-direction:row;
    justify-content:center;
    padding:1em 0em;

}
header-button{
    font-size:16px;
}

 
#content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.board {
    height: 600px;
    width: 600px;
    background-color: white;
    display: flex;
    flex-direction:column;
  
}

.board .row{
    width:100%;
    flex-grow:1;
    display:flex;
}
.board .row .square{
    background-color:pink;
    min-width:50px;
    min-height:0px;
    flex-basis:auto;
    flex-grow:1;
}
